/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    background: #FFC3C3;
    color: #000;
    text-align: center;
    padding: 10px 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

.field-tips {
    color: #2b78e4;
}
.step-bar {
    margin: 30px 0;
}
.clear-bottom-margin {
    margin-bottom: 0;
}
.item-bg {
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    padding: 10px 30px;
}
.list-bottom-bg {
    border-bottom: 1px solid #e1e1e8;
    padding-bottom: 15px;
}
.checkbox-inline {
    margin-right: 10px!important;
    margin-left: 0!important;
}
.leader-info {
    position: relative;
    padding: 20px 15px 15px;
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
}
.leader-info legend {
    position: absolute;
    left: 20px;
    top: -15px;
    border-bottom: none;
}
.traffic-label {
    width: 50px;
    float: left;
    font-weight: bold;
}
.traffic-info {
    float: left;
    height: 90px;
}
#flight-info {
    margin-top: 10px;
}
.btn-group-justified>li {
    display: table-cell;
    float: none;
    text-align: center;
}
.nav-title {
    padding: 10px 15px;
    background-color: #EEE;
}
.sidebar-nav {
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.adjust-field-tips {
    color: #2b78e4;
}
.img-upload-input {
    margin: 15px 0;
}
.slider-preview {
    margin-bottom: 15px;
}
.must-fill:after {
    content: '*';
    color: red;
    margin: 0 5px;
}

/*leader-info*/
.leader-row {
    line-height: 30px;
}
.close-leader {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: 7px;
    cursor: pointer;
    padding: 2px 3px;
}
.close-leader:hover {
    background-color: #E7E7E7;
}
/*leader-info*/

.footer-divider {
    margin-top: 50px;
}
.leader-checkbox {
    margin-bottom: 25px;
}
.footer-btns {
    margin: 50px 0;
}
.has-error .field-tips {
    display: none;
}
.error-tips {
    color: #a94442;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
}
.instant-search {
    position: relative;
}
.place-wrapper {
    position: absolute;
    top: 34px;
    left: 0;
    background: #FFF;
    z-index: 100;
    border: 1px solid #E7E7E7;
    padding: 10px 15px;
    min-width: 170px;
}

@media (min-width: 1200px) {
    .main-container {
        border-left: 1px solid #e7e7e7;
    }
    .step-bar {
        margin: 0 0 30px;
    }
    .row-head {
        text-align: right;
    }
    .child-item {
        float: left;
        margin-right: 15px;
        line-height: 34px;
    }
    .full-width {
        width: 100%;
    }
    .short-input {
        width: 170px;
        float: left;
    }
    .mini-input {
        width: 70px;
        float: left;
    }
    .row-head label {
        line-height: 34px;
    }
    .field-tips, .error-tips {
        line-height: 34px;
    }
    .ml15 {
        margin-left: 15px;
    }
    .lh34 {
        line-height: 34px;
    }
    .mr15 {
        margin-right: 15px;
    }
    .visa-wrap {
        padding-top: 10px;
    }
    input.half-input {
        width: 487px;
    }
    .slider-upload {
        width: 232px;
    }
    .daysimg-upload {
        width: 160px;
    }
    .leader-th {
        width: 70px;
        float: left;
        text-align: right;
    }
    .leader-td {
        float: left;
        width: 660px;
        padding-left: 10px;
    }
    .leader-avatar {
        float: left;
        margin-right: 10px;
        width: 120px;
        height: 120px;
    }
    .leader-avatar img {
        height: 120px;
        width: 120px;
    }
    .leader-detail {
        float: left;
        width: 750px;
    }
}



@media (min-width: 992px) {
    .row-head {

    }
    .slider-upload {
        width: 231px;
    }
}
