<!-- first form begin -->
<form action="" name="firstForm" id="first-form" class="tab-pane active" ly-submit="saveState()" rc-step novalidate>
    <div class="form-horizontal">
        <div class="form-group clearfix">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label class="must-fill" for="">
                    商品标题:
                </label>
            </div>
            <div class="col-lg-10 col-md-10">
                <span class="field-tips">30个字以内</span>
            </div>
            <div class="col-lg-offset-2 col-lg-10">
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label class="must-fill" for="">推荐理由:</label>
            </div>
            <div class="col-lg-10 col-md-10">
                <span class="field-tips">200个字以内</span>
            </div>
            <div class="col-lg-offset-2 col-lg-10">
                <textarea name="" id="" class="form-control" rows="10"></textarea>
            </div>
        </div>
        <div class="form-group clearfix"  ng-controller="ratyCtrl">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="" class="must-fill">线路指数:</label>
            </div>
            <div class="col-lg-10 col-md-10">
                <span class="field-tips">设置不同的指数级别，让您的活动更具特色</span>
            </div>
            <div class="col-lg-12">
                <div ng-repeat="item in items" class="row">
                    <div class="col-lg-2">
                        {{ item.indexName }}:
                    </div>
                    <div class="col-lg-8">
                        <raty score="1" number="5"></raty>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="" class="must-fill">出发地:</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control short-input">
                <span class="field-tips ml15">支持拼音、英文、中文、缩写关联提醒</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="" class="must-fill">目的地:</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control short-input">
                <span class="field-tips ml15">支持拼音、英文、中文、缩写关联提醒</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="" class="must-fill">出行天数:</label>
            </div>
            <div class="col-lg-10 row">
                <div class="col-lg-2">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">天</button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">晚</button>
                        </span>
                    </div>
                </div>
                <span class="field-tips ml15">例如:7天6晚</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="">成行人数要求:</label>
            </div>
            <div class="col-lg-10 row">
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">最少</button>
                        </span>
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">人</button>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">最多</button>
                        </span>
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">人</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 旅行主题 begin -->
        <div class="form-group clearfix">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="" class="must-fill">户外旅行主题:</label>
            </div>
            <div class="col-lg-10 col-md-10">
                <span class="field-tips">最多可选择3个主题；选择合适的主题，方便用户查找您的旅行产品</span>
            </div>
        </div>
        <div class="col-lg-10 col-lg-offset-2 item-bg">
            <div class="form-group clearfix list-bottom-bg">
                <div class="child-item clearfix">
                    <label for="">陆地项目:</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                </div>
            </div>
            <div class="form-group clearfix list-bottom-bg">
                <div class="child-item clearfix">
                    <label for="">水上项目:</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                </div>
            </div>
            <div class="form-group clearfix list-bottom-bg">
                <div class="child-item clearfix">
                    <label for="">空中项目:</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                </div>
            </div>
            <div class="form-group clearfix">
                <div class="child-item clearfix">
                    <label for="">风格偏好:</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">其他</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">登山</label>
                    <label class="checkbox-inline"><input type="checkbox">其他</label>
                </div>
            </div>
            <div class="form-group clear-bottom-margin">
                <span class="field-tips clearfix">
                    设置准确合适的标签，有助于系统更精确的定位您的旅行产品，将其推荐给有相应需求的用户。
                </span>
            </div>
        </div>
        <!-- 旅行主题 end -->
        <!-- 商品标签 begin -->
        <div class="form-group">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="">商品标签:</label>
            </div>
            <div class="col-lg-10">
                <input type="text" class="form-control">
                <span class="field-tips">最多可设置10个标签，并用英文逗号隔开</span>
            </div>
        </div>
        <!-- 商品标签 end -->
        <!-- 轮播图 begin -->
        <div class="form-group">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="" class="must-fill">商品轮播图:</label>
            </div>
            <div class="col-lg-10">
                <span class="field-tips fll">请添加一组精致美观且别具特色的图片，让您的旅行产品更吸引人</span>
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="">图片预览:</label>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="slider-preview">
                            <img src="img/img-placeholder.jpg" class="slider-upload" alt="" title="">
                            <input type="text" class="form-control img-upload-input" placeholder="图片描述">
                            <button class="btn btn-default" type="button">上传图片</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="slider-preview">
                            <img src="img/img-placeholder.jpg" class="slider-upload" alt="" title="">
                            <input type="text" class="form-control img-upload-input" placeholder="图片描述">
                            <button class="btn btn-default" type="button">上传图片</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="slider-preview">
                            <img src="img/img-placeholder.jpg" class="slider-upload" alt="" title="">
                            <input type="text" class="form-control img-upload-input" placeholder="图片描述">
                            <button class="btn btn-default" type="button">上传图片</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="slider-preview">
                            <img src="img/img-placeholder.jpg" class="slider-upload" alt="" title="">
                            <input type="text" class="form-control img-upload-input" placeholder="图片描述">
                            <button class="btn btn-default" type="button">上传图片</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="slider-preview">
                            <img src="img/img-placeholder.jpg" class="slider-upload" alt="" title="">
                            <input type="text" class="form-control img-upload-input" placeholder="图片描述">
                            <button class="btn btn-default" type="button">上传图片</button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="slider-preview">
                            <img src="img/img-placeholder.jpg" class="slider-upload" alt="" title="">
                            <input type="text" class="form-control img-upload-input" placeholder="图片描述">
                            <button class="btn btn-default" type="button">上传图片</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- 轮播图 end -->
        <!-- 出行价格表 begin -->
        <div class="form-group">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for=""  class="must-fill">出行价格表:</label>
            </div>
            <div class="col-lg-10">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>起始日期</th>
                            <th>结束日期</th>
                            <th>金额(元)</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody ng-controller="priceRecordCtrl">
                        <tr ng-repeat="price in prices" ng-class="{active: $index % 2 == 0}">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ price.startDate }}</td>
                            <td>{{ price.endDate }}</td>
                            <td>{{ price.price }}</td>
                            <td>
                                <a ng-show="" href="">修改</a>
                                <a href="">删除</a>
                                <a href="">保存</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 出行价格表 end -->
        <!-- 价格说明 begin -->
        <div class="form-group clearfix">
            <div class="col-lg-2 col-md-2 clearfix row-head">
                <label for="">价格特别说明:</label>
            </div>
            <div class="col-lg-10 col-md-10">
                <span class="field-tips">如果您的产品存在不同舱位价格，不同套餐价格或者成人/儿童价格等，可在此提供具体说明</span>
            </div>
            <div class="col-lg-offset-2 col-lg-10">
                <textarea name="" id="" class="form-control" rows="10"></textarea>
            </div>
        </div>
        <!-- 价格说明 end -->
    </div>
</form>
<!-- first form end -->