<div class="table-responsive" ng-controller="DraftsCtrl">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>活动标题</th>
                <th>发布时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="draft in drafts">
                <td>
                    {{ draft.title }}
                </td>
                <td>
                    {{ draft.createAt }}
                </td>
                <td>
                    <a ng-href="{{ draft.url }}" class="btn btn-default">选用</a>
                    <button type="button" class="btn btn-default" ng-click="remove($index)" >删除</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>