<!-- third form begin -->
<form action="" name="thirdForm" class="tab-pane" ly-submit ly-step novalidate>
    <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
            <label for="" class="must-fill">费用说明:</label>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">费用包含:</label>
                        <textarea name="" rows="10" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="">费用不包含:</label>
                        <textarea name="" rows="10" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="">支付与退款说明:</label>
                        <textarea class="form-control" name="" id="" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="must-fill" for="">预订须知:</label>
                        <span class="field-tips">建议包含: 预订限制，出行警示及说明，安全指南等信息</span>
                        <textarea class="form-control" name="" id="" rows="10"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">签证信息:</label>
                        <textarea class="form-control" name="" id="" rows="10"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- third form end -->