<!-- fourth form begin -->
<form action="" name="fourthForm" class="tab-pane" ly-submit="completeWizard()" ly-step novalidate>
    <div class="row">
        <div class="col-lg-2 row-head">
            <label>领队/导游介绍: </label>
        </div>
        <div class="col-lg-10">
            <span class="field-tips">简单命名下一天的行程主题</span>
        </div>
        <div class="col-lg-10 col-lg-offset-2 leader-checkbox">
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">
                    张三
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <fieldset class="leader-info">
                    <legend>NO.1</legend>
                    <div class="leader-avatar">
                        <img src="img/" alt="" title="">
                    </div>
                    <div class="leader-detail">
                        <div class="leader-row clearfix">
                            <div class="leader-th"><strong>姓名:</strong></div>
                            <div class="leader-td">李四</div>
                        </div>
                        <div class="leader-row clearfix">
                            <div class="leader-th"><strong>个人简介:</strong></div>
                            <div class="leader-td">个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介</div>
                        </div>
                    </div>
                    <div class="close-leader">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset class="leader-info">
                    <legend>NO.2</legend>
                    <div class="leader-avatar">
                        <img src="img/" alt="" title="">
                    </div>
                    <div class="leader-detail">
                        <div class="leader-row clearfix">
                            <div class="leader-th"><strong>姓名:</strong></div>
                            <div class="leader-td">李四</div>
                        </div>
                        <div class="leader-row clearfix">
                            <div class="leader-th"><strong>个人简介:</strong></div>
                            <div class="leader-td">个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介</div>
                        </div>
                    </div>
                    <div class="close-leader">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </fieldset>
            </div>
            <div class="form-group">
                <fieldset class="leader-info">
                    <legend>NO.3</legend>
                    <div class="leader-avatar">
                        <img src="img/" alt="" title="">
                    </div>
                    <div class="leader-detail">
                        <div class="leader-row clearfix">
                            <div class="leader-th"><strong>姓名:</strong></div>
                            <div class="leader-td">李四</div>
                        </div>
                        <div class="leader-row clearfix">
                            <div class="leader-th"><strong>个人简介:</strong></div>
                            <div class="leader-td">个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介个人简介</div>
                        </div>
                    </div>
                    <div class="close-leader">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </fieldset>
            </div>
            <hr class="footer-divider">
            <div class="form-group">
                <label>常见问题:</label>
                <span class="field-tips">如果有相关问题积累可以提供用户参考</span>
                <textarea rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>上传pdf产品文件:</label>
                <span class="field-tips">如果您有一套详尽的产品介绍资料，可在此处上传，提供给用户下载收藏</span>
                    <input type="file">
                </div>
            </div>
        </div>
    </div>
</form>
<!-- fourth form end -->